<!DOCTYPE html>
<html>
<head>
<title>Painel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>📊 Pedidos</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>

        {% for p in pedidos %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td><a href="/confirmar/{{ p[0] }}">Confirmar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>